__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env

.git
.gitignore

node_modules/

static/uploads/
static/results/

*.log

.cache/

dist/
build/

mongodb_data/

*.jpg
*.png
*.mp4

# modelos pesados
*.pt
*.pth